/* background image */
.bg-image {
    background-image: url('https://helpx.adobe.com/content/dam/help/en/photoshop/using/convert-color-image-black-white/jcr_content/main-pars/before_and_after/image-before/Landscape-Color.jpg');
    width: 100%;
    height: 754px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/* forms */
.form-element {
    display: flex;
    flex-direction: column;
}
.form {
    max-width: 700px;
    width: 100%;
    margin-left: 30px;
}
.input-element {
   width: 100%;
   height: 60px;
   color:blue;
   font-size: 20px;
   background-color: transparent;
   /* border:none;
   border-bottom: 2px solid #000; */
}
/* .input-element[type="password"] {
    background-color: yellow;
} */
.btn-submit {
    width: 150px;
    height: 60px;
    background-color: blueviolet;
    color: #fff;
    margin-top: 30px;
    border: none;
    border-radius: 30px;
}
.label-form {
    color: red;
}
.input-element::placeholder {
    color:red;
    font-size: 14px;
}
.input-element:focus {
    background-color:aquamarine;
    outline: none;
}
.select {
    height: 60px;
}
.textatea-element {
    width: 100%;
    height: 250px;
    resize:none;
}


/* pseudo elements */
.hello::before {
    content: 'Good Evening';
    color:red;
    font-size: 30px;
}

/* .hello::after {
    content: '\00a9';
    margin-left: 30px;
} */

.hello::after {
    content: '';
    margin-left: 30px;
    width: 20px;
    height: 2px;
    background-color: blue;
    display:inline-block;
}

/* header styles */
.ul-flex {
    display: flex;
}
.header-wraper {
    background-color: lightblue;
    padding: 30px;
}
.ul-flex li {
    margin-right: 30px;
}
.li-item-a {
    position: relative;
    transition: all 2s;
}
.li-item-a::after {
    content: '';
    height: 2px;
    background-color: #FF7420;
    position: absolute;
    left:0;
    bottom: 0;
    width: 0;
    transition: all 2s;
}
.li-item-a:hover::after {
    width: 100%;
}
.li-item-a:hover {
    color:  #FF7420;
}
.image-block {
    width: 100%;
}